services:
  db:
    image: postgres:alpine
    container_name: hotel-reservations-db
    restart: always
    environment:
      POSTGRES_USER: lucas
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mailhog:
    build:
      context: ./mail-hog
      dockerfile: Dockerfile
    container_name: mailhog
    restart: always
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI

volumes:
  postgres_data:
    driver: local
