services:
  app:
    build: .
    container_name: hotel-reservations-app
    ports:
      - "8080:8080"
    restart: always
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=bookings
      - DB_USER=lucas
      - DB_PASSWORD=admin
      - MAIL_HOST=mailhog
      - MAIL_PORT=1025
    depends_on:
      - db
      - mailhog

  db:
    image: postgres:alpine
    container_name: hotel-reservations-db
    restart: always
    environment:
      POSTGRES_USER: lucas
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: bookings
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mailhog:
    build:
      context: ./mail-hog
      dockerfile: Dockerfile
    container_name: mailhog
    restart: always
    ports:
      - "1025:1025" # SMTP port
      - "8025:8025" # Web UI port

volumes:
  postgres_data:
    driver: local
