services:
  app:
    build: .
    container_name: hotel-reservations-app
    ports:
      - "8080:8080"
    restart: always
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
    depends_on:
      - db
      - mailhog

  db:
    image: postgres:alpine
    container_name: hotel-reservations-db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mailhog:
    build:
      context: ./mail-hog
      dockerfile: Dockerfile
    container_name: mailhog
    restart: always
    ports:
      - "1025:1025" # SMTP port
      - "8025:8025" # Web UI port

volumes:
  postgres_data:
    driver: local
